/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
html {
    background: url('./assets/burger-friends.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
}

.header-title {
    margin: 0;
}

.lets-cook-btn {
    background-color: #0fb9b1;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 10px;
}

.add-recipe-btn {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.boxes {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.dinner-options, .dinner-results {
    background-color: rgba(225, 225, 225, .9);
    width: 320px;
    height: 300px;
    padding: 32px;
    text-align: left;
    margin: 0;
}

ul {
    align-items: left;
    margin: 0;
    padding-inline-start: 0;
}

.hidden {
    display: none!important;
}

.dinner-results {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.make-this h3, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.you-should-make {
    font-style: italic;
}

.make-this h1 {
    font-weight: bolder;
    font-size: 3vw;
    margin: 5px;
    text-align: center;
}

.make-this h3 {
    font-size: 5vw 3vh;
    text-align: center;
}

.dinner-results .clear-meal-div button {
    color: white;
    background-color: #95a5a6;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    transform: translate(100px, 50px);
}

