/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/Users/saleae/Documents/Christine Coding/Turing/whats-for-dinner/assets/burger-friends.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 16px;
}

.lets-cook-btn {
    background-color: #0fb9b1;
}

.boxes {
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
}

.dinner-options, .dinner-results {
    background-color: rgba(225, 225, 225, .9);
    width: 300px;
    height: 300px;
    padding: 32px;
    text-align: left;
    margin: 0;
}

ul {
    align-items: left;
    margin: 0;
    padding-inline-start: 0;
}


