/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
html {
    background: url('./assets/burger-friends.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
}

.header-title {
    margin: 0;
}

.lets-cook-btn {
    background-color: #0fb9b1;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 10px;
}

.add-recipe-btn {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.boxes {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    position: relative;
}

.meal-options, .meal-results {
    background-color: rgba(225, 225, 225, .9);
    width: 320px;
    height: 300px;
    padding: 32px;
    text-align: left;
    margin: 0;
}

ul {
    align-items: left;
    margin: 0;
    padding-inline-start: 0;
}

.hidden {
    display: none!important;
}

.meal-results {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.show-meal-option-text h3, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-meal-option-text h1 {
    font-weight: bolder;
    font-size: 2vw;
    margin: 5px;
    text-align: center;
}

.show-meal-option-text h2 {
    font-weight: bolder;
    margin: 5px;
    text-align: center;
    font-size: 2vw 1vh;
}

.show-meal-option-text h3 {
    font-size: 5vw 3vh;
    text-align: center;
    font-style: italic;
}

.show-new-recipe-text h1, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-new-recipe-text h3 {
    font-style: italic;
}

.show-new-recipe-text h1 {
    font-weight: bolder;
    font-size: 2vw;
    margin: 5px;
    text-align: center;
}

.clear-meal-btn {
    color: white;
    background-color: #95a5a6;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 40px;
}

.add-new-recipe-form {
    background-color: rgba(225, 225, 225, .9);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
    
.add-new-recipe-form button {
    background-color: #0fb9b1;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .boxes {
      flex-direction: column;
    }
  }

